@page
@model UserStoriesModel
@inject UserStoryService service
@{
    ViewData["Title"] = "UserStories";
}
<h1>User Stories</h1>

<tbody>
    <ul>
        @foreach(var userstory in Model.UserStories){
        <li>
            <div>(@userstory.Id) @userstory.Title</div>
            <div>@userstory.Description</div>
        </li>
        }
    </ul>
</tbody>
